.bg-primary { background-color: $coquelicot; }
.bg-secondary { background-color: $tropicalIndigo; }
.bg-dark { background-color: $richBlack; }
.bg-light { background-color: $honeydew; }
.bg-accent { background-color: $oxfordBlue; }
.bg-white { background-color: $white; }
.bg-off-white { background-color: $offWhite; }

.text-primary { color: $coquelicot; }
.text-secondary { color: $tropicalIndigo; }
.text-dark { color: $richBlack; }
.text-light { color: $honeydew; }
.text-accent { color: $oxfordBlue; }
.text-white { color: $white; }
.text-off-white { color: $offWhite; }