@import '../pxr';

.hero {
  --dim: .5;     
  width: 100vw;         
  margin-left: calc(50% - 50vw); 
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  &__media {
    position: absolute;
    inset: 0; 
    width: 100%;
    height: 100%;
  }

  &__media img,
  &__media video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  &__content {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }

  .hero__content.text-center {
    .container {
      .eyebrow, h1, p {
        margin-inline: auto;
      }
      h1 {
        text-transform: capitalize;
      }
    }
  }

  .container {
    .eyebrow, h1, p {
      max-width: pxr(700);

      text-wrap: balance;
    }
  }
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,var(--dim));
  pointer-events: none;    
}
